[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
atomicwrites = "*"
casadi = "*"
cffi = "*"
crcmod = "*"
cryptography = "*"
cython = "==0.29.36"
flake8 = "*"
flask = "*"
future-fstrings = "*"
gunicorn = "*"
hexdump = "*"
jinja2 = "*"
json-rpc = "*"
libusb1 = "*"
nose = "*"
numpy = "*"
protobuf = "==3.20.1"
pybind11 = "*"
onnx = "*"
onnxruntime-gpu = "*"
pillow = "*"
psutil = "*"
pycapnp = "==1.0.0"
pycryptodome = "*"
pyjwt = "*"
pylint = "*"
pyopencl = "*"
pyserial = "*"
python-dateutil = "*"
pyyaml = "*"
pyzmq = "*"
requests = "*"
scons = "*"
sentry-sdk = "*"
setproctitle = "*"
six = "*"
smbus2 = "*"
sympy = "!=1.6.1"
timezonefinder = "*"
tqdm = "*"
urllib3 = "*"
utm = "*"
websocket-client = "*"
hatanaka = "==2.4"
av = "*"
azure-storage-blob = "==2.1"
control = "*"
coverage = "*"
dictdiffer = "*"
fastcluster = "*"
hypothesis = "==6.46.7"
inputs = "*"
lru-dict = "*"
markdown-it-py = "*"
matplotlib = "*"
mypy = "*"
myst-parser = "*"
natsort = "*"
opencv-python-headless = "*"
parameterized = "*"
paramiko = "*"
pprofile = "*"
pre-commit = "*"
pycurl = "*"
pygame = "*"
pyprof2calltree = "*"
pytest = "*"
pytest-xdist = "*"
reverse-geocoder = "*"
scipy = "*"
sphinx = "*"
sphinx-sitemap = "*"
sphinx-rtd-theme = "*"
breathe = "*"
subprocess32 = "*"
tenacity = "*"
mpld3 = "*"
carla = "*"
ft4222 = "*"
pandas = "*"
tabulate = "*"

[dev-packages]

[requires]
python_version = "3.8"
